body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  padding: 20px;
}

.text {
  font-family: "Poppins", sans-serif;
  word-spacing: 1px;
}

h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
