body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #131516;
}

.content {
  padding: 20px;
}

.text {
  font-family: "Poppins", sans-serif;
  word-spacing: 1px;
  color: #fff;
}

header {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

h2 {
  display: none;
}

@media (max-width: 600px) {
  h1 {
    display: none;
  }
  h2 {
    display: block;
  }
}
